body {background-color: orange;}
h1 {text-align: center;}
#mari{margin-left:35%;}
h1 {color: rgb(0, 0, 0);}
h2{color: rgb(0, 0, 0);}
h2 {text-align: center;}
#base {width:10%;}
#ilumi {width:10%;}
#logo {width: 10%;}
#gross {width:10%;}
#pincel {width: 10%;}
h1 {border:solid 3px white}
h2 {border:solid 3px white;}